.App {
  text-align: center;
  background: linear-gradient(to right, #373535,#787575,#373535);
  min-height: 100vh;
}
.applight{
  text-align: center;
  background: linear-gradient(to right, #4c64ba,#add8e6,#4c64ba);
  min-height: 100vh;
}

@media only screen and (max-width: 438px){
  .App {
    height: 100%;
  }
  .applight{

    height: 100%;
  }
}